.container{
  height: 100%;
  align-content: center;
}

.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 350px;
  background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
  color: white;
}

#btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}
::placeholder{
  color: black
}
input{
  font-weight: bold;
  font-size: 25px;
}
input:hover{
  background-color: #FFC312;
  color: rgba(0, 0, 0, 0.59);
}
input:not(:hover){
  background-color: rgba(33, 34, 35, 0.3);
  color: rgba(240, 248, 255, 0.63);
}
